---
import BaseLayout from "../layouts/BaseLayout.astro";
import TextGroupElement from "../snippets/TextGroupElement.astro";
import ImagenResponsive from "../snippets/ImagenResponsive.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BannerHero from "../components/BannerHero.astro";
import FeatureBlocksSection from "../components/FeatureBlocksSection.astro";
import ImageCardsOverlay from "../components/ImageCardsOverlay.astro";
import ImageCarouselSection from "../components/ImageCarouselSection.astro";
import VideoOverlay from "../components/VideoOverlay.astro";
import ComparisonBannerSection from "../components/ComparisonBannerSection.astro";
import BrandCardsSection from "../components/BrandCardsSection.astro";
import ImageLogoTextBanner from "../components/ImageLogoTextBanner.astro";
import VideoHero from "../components/VideoHero.astro";
import ReviewsCarouselSection  from "../components/ReviewsCarouselSection.astro";
import FormularioLead from "../componentsFormPoliticas/FormularioLead.astro";
import NewsletterForm from "../componentsFormPoliticas/NewsletterForm.astro";


import Formulario from "../components/Formulario.astro";
import { site } from "../data/site";
---

<BaseLayout>

  <Header />

  <main class="container">

<VideoHero
  id="hero-home"
  class="banner"

  srcDesktop="/media/hero-desktop.mp4?width=2500"
  srcMobile="/media/hero-mobile.mp4?width=1500"

  width="1920"
  height="500"

  autoplay={true}
  muted={true}
  loop={true}
  playsinline={true}
  controls={false}
  preload="auto"

  ariaLabel="Video principal de alimentos"

  h1="Tu socio para construir, escalar y posicionar marcas de alimentos en México"
  h1Class="hero-title"

  linkHtml="Explorar soluciones"
  linkHref="/soluciones"
  linkClass="hero-button"
/>

<BannerHero
  id="bloque-alimentos"
  class="imagen-derecha-texto-izquierda"

  srcDesktop="/media/banner1_desktop.webp?width=2500"
  srcMobile="/media/banner1_desktop.webp?width=1500"
  alt="Alimentos de alta calidad"
  width="682"
  height="378"
  loading="lazy"
  decoding="async"

  p="
  Creamos alimentos de <strong>alta calidad</strong> que combinan <strong>las tendencias</strong> del mercado con una verdadera <strong>conciencia nutricional</strong>
  "
  pId=""
  pClass=""
/>

<FeatureBlocksSection
  id="servicios-clave"
  class="feature-blocks-section"
  items={[
    {
      id: "",
      class: "feature-blocks-section__item",

      h2: `<svg xmlns="http://www.w3.org/2000/svg" width="93" height="75" viewBox="0 0 93 75" fill="none">
        <path d="M2.745 70.3781L29.38 43.4719L43.7738 57.2531L61.3656 41.875L71.1656 51.43M90 9.0625C90 7.32202 89.3086 5.65282 88.0779 4.42211C86.8472 3.1914 85.178 2.5 83.4375 2.5H9.0625C7.32202 2.5 5.65282 3.1914 4.42211 4.42211C3.1914 5.65282 2.5 7.32202 2.5 9.0625V28.75H90V9.0625Z" stroke="#EF6A02" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M90 24.375V65.9375C90 67.678 89.3086 69.3472 88.0779 70.5779C86.8472 71.8086 85.178 72.5 83.4375 72.5H20M35.5575 15.625H74.9325M18.0531 15.625H22.4281M2.5 24.375V44.0625" stroke="#EF6A02" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>`,
      h2Id: "",
      h2Class: "feature-blocks-section__title",

      h3: "Inteligencia de mercado",
      h3Id: "",
      h3Class: "feature-blocks-section__subtitle",
    },
    {
      id: "",
      class: "feature-blocks-section__item",

      h2: `<svg xmlns="http://www.w3.org/2000/svg" width="62" height="76" viewBox="0 0 62 76" fill="none">
        <path d="M6.75056 44.75C4.12436 40.4493 2.73975 35.5056 2.75006 30.4665C2.75006 15.1575 15.2871 2.75 30.7501 2.75C46.2131 2.75 58.7501 15.1575 58.7501 30.4665C58.7604 35.5056 57.3758 40.4493 54.7496 44.75" stroke="#EF6A02" stroke-width="5.5" stroke-linecap="round"/>
        <path d="M41.25 62.25L40.795 64.5145C40.305 66.989 40.0565 68.2245 39.5 69.2045C38.6425 70.7149 37.254 71.8526 35.6045 72.3965C34.537 72.75 33.27 72.75 30.75 72.75C28.23 72.75 26.963 72.75 25.8955 72.4C24.2454 71.8553 22.8569 70.7163 22 69.2045C21.4435 68.2245 21.195 66.989 20.705 64.5145L20.25 62.25M14.5905 55.593C14.2685 54.627 14.1075 54.1405 14.125 53.7485C14.1448 53.3432 14.2816 52.9523 14.5189 52.6231C14.7562 52.2939 15.0837 52.0405 15.462 51.8935C15.826 51.75 16.337 51.75 17.352 51.75H44.148C45.1665 51.75 45.674 51.75 46.038 51.89C46.4168 52.0372 46.7447 52.2911 46.982 52.621C47.2194 52.9509 47.3559 53.3426 47.375 53.7485C47.3925 54.1405 47.2315 54.6235 46.9095 55.593C46.3145 57.3815 46.017 58.2775 45.5585 59.002C44.5995 60.5161 43.0963 61.6047 41.3585 62.0435C40.5255 62.25 39.5875 62.25 37.708 62.25H23.792C21.9125 62.25 20.971 62.25 20.1415 62.04C18.4043 61.6021 16.9012 60.5148 15.9415 59.002C15.483 58.2775 15.1855 57.3815 14.5905 55.593Z" stroke="#EF6A02" stroke-width="5.5"/>
        <path d="M30.75 51.75V34.25" stroke="#EF6A02" stroke-width="5.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>`,
      h2Id: "",
      h2Class: "feature-blocks-section__title",

      h3: "Desarrollo de producto",
      h3Id: "",
      h3Class: "feature-blocks-section__subtitle",
    },
    {
      id: "",
      class: "feature-blocks-section__item",

      h2: `<svg xmlns="http://www.w3.org/2000/svg" width="68" height="75" viewBox="0 0 68 75" fill="none">
        <path d="M34.0032 72.5V37.4964M30.5029 71.5549C31.5671 72.1693 32.7743 72.4928 34.0032 72.4928C35.2321 72.4928 36.4393 72.1693 37.5036 71.5549L62.0061 57.5535C63.0693 56.9396 63.9524 56.057 64.5667 54.9941C65.1811 53.9313 65.5052 52.7255 65.5065 51.4978V23.495C65.5052 22.2673 65.1811 21.0616 64.5667 19.9987C63.9524 18.9358 63.0693 18.0532 62.0061 17.4394L37.5036 3.43792C36.4393 2.82348 35.2321 2.5 34.0032 2.5C32.7743 2.5 31.5671 2.82348 30.5029 3.43792L6.00036 17.4394C4.93717 18.0532 4.05409 18.9358 3.43971 19.9987C2.82533 21.0616 2.50126 22.2673 2.5 23.495V51.4978C2.50126 52.7255 2.82533 53.9313 3.43971 54.9941C4.05409 56.057 4.93717 56.9396 6.00036 57.5535L30.5029 71.5549Z" stroke="#EF6A02" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3.51526 19.9946L34.0034 37.4964L64.4915 19.9946M18.2518 10.4386L49.755 28.4654" stroke="#EF6A02" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>`,
      h2Id: "",
      h2Class: "feature-blocks-section__title",

      h3: "Supply Chain & logística",
      h3Id: "",
      h3Class: "feature-blocks-section__subtitle",
    },
    {
      id: "",
      class: "feature-blocks-section__item",

      h2: `<svg xmlns="http://www.w3.org/2000/svg" width="93" height="76" viewBox="0 0 93 76" fill="none">
        <path d="M68.375 72.7502C73.2075 72.7502 77.125 68.8327 77.125 64.0002C77.125 59.1678 73.2075 55.2502 68.375 55.2502C63.5425 55.2502 59.625 59.1678 59.625 64.0002C59.625 68.8327 63.5425 72.7502 68.375 72.7502Z" stroke="#EF6A02" stroke-width="5.5"/>
        <path d="M24.625 72.7502C29.4575 72.7502 33.375 68.8327 33.375 64.0002C33.375 59.1678 29.4575 55.2502 24.625 55.2502C19.7925 55.2502 15.875 59.1678 15.875 64.0002C15.875 68.8327 19.7925 72.7502 24.625 72.7502Z" stroke="#EF6A02" stroke-width="5.5"/>
        <path d="M15.875 63.8777C11.0756 63.6415 8.0875 62.9284 5.9525 60.7977C3.8175 58.6671 3.10875 55.6746 2.8725 50.8752M33.375 64.0002H59.625M77.125 63.8777C81.9244 63.6415 84.9125 62.9284 87.0475 60.7977C90.25 57.5909 90.25 52.4371 90.25 42.1252V33.3752H69.6875C66.4281 33.3752 64.8006 33.3752 63.4837 32.9465C62.1706 32.5198 60.9771 31.7884 60.0007 30.812C59.0244 29.8357 58.293 28.6422 57.8662 27.329C57.4375 26.0121 57.4375 24.3846 57.4375 21.1252C57.4375 16.2384 57.4375 13.7971 56.7944 11.8196C56.1543 9.84988 55.0572 8.05959 53.5927 6.59508C52.1282 5.13058 50.3379 4.03344 48.3681 3.39337C46.3906 2.75024 43.9494 2.75024 39.0625 2.75024H2.75M2.75 20.2502H29M2.75 33.3752H20.25" stroke="#EF6A02" stroke-width="5.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M57.4375 11.5002H65.4044C71.7744 11.5002 74.955 11.5002 77.545 13.049C80.1394 14.5934 81.6488 17.3977 84.6675 23.0065L90.25 33.3752" stroke="#EF6A02" stroke-width="5.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>`,
      h2Id: "",
      h2Class: "feature-blocks-section__title",

      h3: "Distribución & retail",
      h3Id: "",
      h3Class: "feature-blocks-section__subtitle",
    },
  ]}
/>

<div class="feature-blocks-section__nav">
    <button class="feature-blocks-section__btn prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.70711 0.29513C6.09763 0.688636 6.09763 1.32664 5.70711 1.72014L2.41421 5.03818L5.70711 8.35621C6.09763 8.74972 6.09763 9.38772 5.70711 9.78123C5.31658 10.1747 4.68342 10.1747 4.29289 9.78123L0.292893 5.75068C-0.0976311 5.35718 -0.0976311 4.71918 0.292893 4.32567L4.29289 0.29513C4.68342 -0.0983765 5.31658 -0.0983766 5.70711 0.29513Z" fill="#EF6A02"/>
        </svg>
    </button>

    <button class="feature-blocks-section__btn next">
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292894 9.78123C-0.0976307 9.38772 -0.0976307 8.74972 0.292894 8.35621L3.58579 5.03818L0.292893 1.72014C-0.0976311 1.32664 -0.0976311 0.688636 0.292893 0.29513C0.683417 -0.0983767 1.31658 -0.0983767 1.70711 0.29513L5.70711 4.32567C6.09763 4.71918 6.09763 5.35718 5.70711 5.75068L1.70711 9.78123C1.31658 10.1747 0.683418 10.1747 0.292894 9.78123Z" fill="#EF6A02"/>
        </svg>
    </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

      const slider = document.querySelector('.feature-blocks-section article');

      if (!slider) return;

      const nextBtn = document.querySelector('.feature-blocks-section__btn.next');
      const prevBtn = document.querySelector('.feature-blocks-section__btn.prev');

      const getCardWidth = () => {
          return (
              slider.querySelector('.feature-blocks-section__item').offsetWidth + 24
          );
      };

      nextBtn?.addEventListener('click', () => {
          slider.scrollBy({
              left: getCardWidth(),
              behavior: 'smooth',
          });
      });

      prevBtn?.addEventListener('click', () => {
          slider.scrollBy({
              left: -getCardWidth(),
              behavior: 'smooth',
          });
      });

  });
</script>

<ImageCardsOverlay
  id="desarrollo-marcas"
  class="image-cards-overlay"

  backgroundSrcDesktop="/media/banner40-desktop.webp?width=2500"
  backgroundSrcMobile="/media/banner40-desktop.webp?width=1500"
  backgroundAlt="Desarrollo de marca"
  backgroundWidth="1920"
  backgroundHeight="737"
  backgroundLoading="lazy"
  backgroundDecoding="async"

  items={[
    {
      figureId: "",
      figureClass: "banner image-cards-overlay__card",

      srcDesktop: "/media/banner3-normal_desktop.webp?width=2500",
      srcMobile: "/media/banner3-normal_desktop.webp?width=2500",
      alt: "Desarrollo de marca propia",
      width: "621",
      height: "645",
      loading: "lazy",
      decoding: "async",

      captionId: "",
      captionClass: "image-cards-overlay__caption",

      h2: "Desarrollo<br>Marca Propia",
      h2Id: "",
      h2Class: "image-cards-overlay__title",

      h3: "",
      h3Id: "",
      h3Class: "",

      p: `En <strong>Fram Foods</strong> somos especialistas en el <strong>Desarrollo de Marcas Propias</strong>, trabajando de manera estratégica con nuestros socios para convertir ideas en productos exitosos y competitivos dentro del mercado mexicano.`,
      pId: "",
      pClass: "hoverText",

      linkHtml: "",
      linkHref: "",
      linkId: "",
      linkClass: "",
      linkTitle: "",
      linkAriaLabel: "",
      linkTarget: "",
      linkRel: "",
    },
    {
      figureId: "",
      figureClass: "banner image-cards-overlay__card",

      srcDesktop: "/media/banner2-normal_desktop.webp?width=2500",
      srcMobile: "/media/banner2-normal_desktop.webp?width=2500",
      alt: "Representación de marcas comerciales",
      width: "621",
      height: "645",
      loading: "lazy",
      decoding: "async",

      captionId: "",
      captionClass: "image-cards-overlay__caption",

      h2: "Representación<br>Marcas Comerciales",
      h2Id: "",
      h2Class: "image-cards-overlay__title",

      h3: "",
      h3Id: "",
      h3Class: "",

      p: `En <strong>Fram Foods</strong> conectamos a productores globales con el mercado mexicano, nuestra labor consiste en identificar las tendencias internacionales y seleccionar cuidadosamente las marcas líderes. Garantizando su calidad y frescura, gracias a nuestra sólida red logística y de distribución,
      <br><br>
      La riqueza gastronómica de diversas regiones llega a las mesas y negocios de México con total confianza, eficiencia y excelente calidad.`,
      pId: "",
      pClass: "hoverText",

      linkHtml: "",
      linkHref: "",
      linkId: "",
      linkClass: "",
      linkTitle: "",
      linkAriaLabel: "",
      linkTarget: "",
      linkRel: "",
    },
  ]}
/>

<ImageCarouselSection
  id="nuestros-aliados"
  class="image-carousel-section"

  h2="Nuestros <strong>Aliados</strong>"
  h2Id=""
  h2Class="image-carousel-section__title"

  articleGap="42px"
  autoplayDelay="3000"

  items={[
    {
      srcDesktop: "/media/aliados/3blogo.webp?width=600",
      srcMobile: "/media/aliados/3blogo.webp?width=600",
      alt: "Aliado FramFoods | 3B",
      title: "Aliado FramFoods | 3B",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/alsuper.webp?width=600",
      srcMobile: "/media/aliados/alsuper.webp?width=600",
      alt: "Aliado FramFoods | Al Super",
      title: "Aliado FramFoods | Al Super",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/bara.webp?width=600",
      srcMobile: "/media/aliados/bara.webp?width=600",
      alt: "Aliado FramFoods | Bara",
      title: "Aliado FramFoods | Bara",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/calimax.webp?width=600",
      srcMobile: "/media/aliados/calimax.webp?width=600",
      alt: "Aliado FramFoods | Calimax",
      title: "Aliado FramFoods | Calimax",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/chedraui.webp?width=600",
      srcMobile: "/media/aliados/chedraui.webp?width=600",
      alt: "Aliado FramFoods | Chedraui",
      title: "Aliado FramFoods | Chedraui",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/cityclub.webp?width=600",
      srcMobile: "/media/aliados/cityclub.webp?width=600",
      alt: "Aliado FramFoods | City Club",
      title: "Aliado FramFoods | City Club",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/heb.webp?width=600",
      srcMobile: "/media/aliados/heb.webp?width=600",
      alt: "Aliado FramFoods | HEB",
      title: "Aliado FramFoods | HEB",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/lacomer.webp?width=600",
      srcMobile: "/media/aliados/lacomer.webp?width=600",
      alt: "Aliado FramFoods | LA COMER",
      title: "Aliado FramFoods | LA COMER",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/ley.webp?width=600",
      srcMobile: "/media/aliados/ley.webp?width=600",
      alt: "Aliado FramFoods | Ley",
      title: "Aliado FramFoods | Ley",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/neto.webp?width=600",
      srcMobile: "/media/aliados/neto.webp?width=600",
      alt: "Aliado FramFoods | neto",
      title: "Aliado FramFoods | neto",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/petco.webp?width=600",
      srcMobile: "/media/aliados/petco.webp?width=600",
      alt: "Aliado FramFoods | petco",
      title: "Aliado FramFoods | petco",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/sams.webp?width=600",
      srcMobile: "/media/aliados/sams.webp?width=600",
      alt: "Aliado FramFoods | sams",
      title: "Aliado FramFoods | sams",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/soriana.webp?width=600",
      srcMobile: "/media/aliados/soriana.webp?width=600",
      alt: "Aliado FramFoods | Soriana",
      title: "Aliado FramFoods | Soriana",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    },
    {
      srcDesktop: "/media/aliados/walmart.webp?width=600",
      srcMobile: "/media/aliados/walmart.webp?width=600",
      alt: "Aliado FramFoods | Walmart",
      title: "Aliado FramFoods | Walmart",
      width: "257",
      height: "100",
      loading: "lazy",
      decoding: "async",
    }
  ]}
/>

<VideoHero
  id="video-oportunidades"
  class="video-derecha-texto-izquierdo"

  srcDesktop="/media/vid2-desktop.mp4?width=2500"
  srcMobile="/media/vid2-desktop.mp4?width=1500"
  width="888"
  height="470"
  autoplay={true}
  muted={true}
  loop={true}
  playsinline={true}
  controls={false}
  preload="metadata"
  ariaLabel="Transformamos oportunidades"

  h2="Transformamos oportunidades <strong>en marcas reales</strong>"
  h2Id=""
  h2Class="video-derecha-texto-izquierdo__title"

  p="Acompañamos cada paso del <strong>PROCESO</strong> del desarrollo y producción hasta la distribución y conexión con el consumidor final."
  pId=""
  pClass="video-derecha-texto-izquierdo__text"
/>

<VideoOverlay
  id="stats-banner"
  class="banner stats-banner-section"

  srcDesktop="/media/vid3-desktop.mp4?width=2500"
  srcMobile="/media/vid3-desktop.mp4?width=1500"

  width="1920"
  height="306"

  autoplay={true}
  muted={true}
  loop={true}
  playsinline={true}
  controls={false}
  preload="auto"

  figcaptionClass="stats-banner-section__items"

  items={[
    {
      h2: "+50",
      h2Class: "stats-banner-section__number",

      h3: "productos desarrollados",
      h3Class: "stats-banner-section__label",
    },
    {
      h2: "+1400",
      h2Class: "stats-banner-section__number",

      h3: "puntos de venta",
      h3Class: "stats-banner-section__label",
    },
    {
      h2: "+15",
      h2Class: "stats-banner-section__number",

      h3: "marcas lanzadas",
      h3Class: "stats-banner-section__label",
    },
    {
      h2: "+20",
      h2Class: "stats-banner-section__number",

      h3: "retailers",
      h3Class: "stats-banner-section__label",
    },
  ]}
/>

<ComparisonBannerSection
  id="comparativa-modelos"
  class="banner comparison-banner-section"

  srcDesktop="/media/banner5-desktop.webp?width=2500"
  srcMobile="/media/banner5-desktop.webp?width=1500"
  alt="Comparativa de modelos"
  width="1920"
  height="700"
  loading="lazy"
  decoding="async"

  h2="El cambio <strong>de paradigma</strong>"
  h2Class="comparison-banner-section__title"

  articleClass="comparison-banner-section__content"

  items={[
    {
      class: "comparison-banner-section__card comparison-banner-section__card--left",

      h3: "DISTRIBUIDOR TRADICIONAL",
      h3Class: "comparison-banner-section__card-title",

      listAs: "ul",
      listClass: "comparison-banner-section__list",
      listStyleType: "none",
      listItemClass: "comparison-banner-section__item",

      listItems: [
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_318_412)">
              <path d="M8 0C3.58125 0 0 3.58125 0 8C0 12.4187 3.58125 16 8 16C12.4187 16 16 12.4187 16 8C16 3.58125 12.4187 0 8 0ZM2 8C2 4.68437 4.6875 2 8 2C9.31563 2 10.5312 2.42812 11.5188 3.14687L3.14687 11.5188C2.42812 10.5312 2 9.31563 2 8ZM8 14C6.68437 14 5.46875 13.5719 4.48125 12.8531L12.8531 4.48125C13.5719 5.47187 14 6.68437 14 8C14 11.3156 11.3125 14 8 14Z" fill="#FF0000"/>
            </g>
            <defs>
              <clipPath id="clip0_318_412">
                <rect width="16" height="16" fill="white"/>
              </clipPath>
            </defs>
          </svg> Enfoque en margen de corto plazo`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_318_412)">
              <path d="M8 0C3.58125 0 0 3.58125 0 8C0 12.4187 3.58125 16 8 16C12.4187 16 16 12.4187 16 8C16 3.58125 12.4187 0 8 0ZM2 8C2 4.68437 4.6875 2 8 2C9.31563 2 10.5312 2.42812 11.5188 3.14687L3.14687 11.5188C2.42812 10.5312 2 9.31563 2 8ZM8 14C6.68437 14 5.46875 13.5719 4.48125 12.8531L12.8531 4.48125C13.5719 5.47187 14 6.68437 14 8C14 11.3156 11.3125 14 8 14Z" fill="#FF0000"/>
            </g>
            <defs>
              <clipPath id="clip0_318_412">
                <rect width="16" height="16" fill="white"/>
              </clipPath>
            </defs>
          </svg> Visibilidad limitada para construcción de marca`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_318_412)">
              <path d="M8 0C3.58125 0 0 3.58125 0 8C0 12.4187 3.58125 16 8 16C12.4187 16 16 12.4187 16 8C16 3.58125 12.4187 0 8 0ZM2 8C2 4.68437 4.6875 2 8 2C9.31563 2 10.5312 2.42812 11.5188 3.14687L3.14687 11.5188C2.42812 10.5312 2 9.31563 2 8ZM8 14C6.68437 14 5.46875 13.5719 4.48125 12.8531L12.8531 4.48125C13.5719 5.47187 14 6.68437 14 8C14 11.3156 11.3125 14 8 14Z" fill="#FF0000"/>
            </g>
            <defs>
              <clipPath id="clip0_318_412">
                <rect width="16" height="16" fill="white"/>
              </clipPath>
            </defs>
          </svg> Operación transaccional y poco integrada`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_318_412)">
              <path d="M8 0C3.58125 0 0 3.58125 0 8C0 12.4187 3.58125 16 8 16C12.4187 16 16 12.4187 16 8C16 3.58125 12.4187 0 8 0ZM2 8C2 4.68437 4.6875 2 8 2C9.31563 2 10.5312 2.42812 11.5188 3.14687L3.14687 11.5188C2.42812 10.5312 2 9.31563 2 8ZM8 14C6.68437 14 5.46875 13.5719 4.48125 12.8531L12.8531 4.48125C13.5719 5.47187 14 6.68437 14 8C14 11.3156 11.3125 14 8 14Z" fill="#FF0000"/>
            </g>
            <defs>
              <clipPath id="clip0_318_412">
                <rect width="16" height="16" fill="white"/>
              </clipPath>
            </defs>
          </svg> Precios fijos y poca flexibilidad`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_318_412)">
              <path d="M8 0C3.58125 0 0 3.58125 0 8C0 12.4187 3.58125 16 8 16C12.4187 16 16 12.4187 16 8C16 3.58125 12.4187 0 8 0ZM2 8C2 4.68437 4.6875 2 8 2C9.31563 2 10.5312 2.42812 11.5188 3.14687L3.14687 11.5188C2.42812 10.5312 2 9.31563 2 8ZM8 14C6.68437 14 5.46875 13.5719 4.48125 12.8531L12.8531 4.48125C13.5719 5.47187 14 6.68437 14 8C14 11.3156 11.3125 14 8 14Z" fill="#FF0000"/>
            </g>
            <defs>
              <clipPath id="clip0_318_412">
                <rect width="16" height="16" fill="white"/>
              </clipPath>
            </defs>
          </svg> Datos parciales para toma de decisiones`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <g clip-path="url(#clip0_318_412)">
              <path d="M8 0C3.58125 0 0 3.58125 0 8C0 12.4187 3.58125 16 8 16C12.4187 16 16 12.4187 16 8C16 3.58125 12.4187 0 8 0ZM2 8C2 4.68437 4.6875 2 8 2C9.31563 2 10.5312 2.42812 11.5188 3.14687L3.14687 11.5188C2.42812 10.5312 2 9.31563 2 8ZM8 14C6.68437 14 5.46875 13.5719 4.48125 12.8531L12.8531 4.48125C13.5719 5.47187 14 6.68437 14 8C14 11.3156 11.3125 14 8 14Z" fill="#FF0000"/>
            </g>
            <defs>
              <clipPath id="clip0_318_412">
                <rect width="16" height="16" fill="white"/>
              </clipPath>
            </defs>
          </svg> Portafolio amplio con baja especialización`,
        },
      ],
    },
    {
      class: "comparison-banner-section__card comparison-banner-section__card--right",

      h3: "MODELO FRAM FOODS (PARTNERSHIP)",
      h3Class: "comparison-banner-section__card-title",

      listAs: "ul",
      listClass: "comparison-banner-section__list",
      listStyleType: "none",
      listItemClass: "comparison-banner-section__item",

      listItems: [
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C10.1819 18 11.3522 17.7672 12.4442 17.3149C13.5361 16.8626 14.5282 16.1997 15.364 15.364C16.1997 14.5282 16.8626 13.5361 17.3149 12.4442C17.7672 11.3522 18 10.1819 18 9C18 7.8181 17.7672 6.64778 17.3149 5.55585C16.8626 4.46392 16.1997 3.47177 15.364 2.63604C14.5282 1.80031 13.5361 1.13738 12.4442 0.685084C11.3522 0.232792 10.1819 -1.76116e-08 9 0C6.61305 3.55683e-08 4.32387 0.948211 2.63604 2.63604C0.948212 4.32387 0 6.61305 0 9C0 11.3869 0.948212 13.6761 2.63604 15.364C4.32387 17.0518 6.61305 18 9 18ZM8.768 12.64L13.768 6.64L12.232 5.36L7.932 10.519L5.707 8.293L4.293 9.707L7.293 12.707L8.067 13.481L8.768 12.64Z" fill="#70AD47"/>
          </svg> Enfoque en crecimiento conjunto y sostenible`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C10.1819 18 11.3522 17.7672 12.4442 17.3149C13.5361 16.8626 14.5282 16.1997 15.364 15.364C16.1997 14.5282 16.8626 13.5361 17.3149 12.4442C17.7672 11.3522 18 10.1819 18 9C18 7.8181 17.7672 6.64778 17.3149 5.55585C16.8626 4.46392 16.1997 3.47177 15.364 2.63604C14.5282 1.80031 13.5361 1.13738 12.4442 0.685084C11.3522 0.232792 10.1819 -1.76116e-08 9 0C6.61305 3.55683e-08 4.32387 0.948211 2.63604 2.63604C0.948212 4.32387 0 6.61305 0 9C0 11.3869 0.948212 13.6761 2.63604 15.364C4.32387 17.0518 6.61305 18 9 18ZM8.768 12.64L13.768 6.64L12.232 5.36L7.932 10.519L5.707 8.293L4.293 9.707L7.293 12.707L8.067 13.481L8.768 12.64Z" fill="#70AD47"/>
          </svg> Desarrollo de marca y ejecución con objetivos compartidos`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C10.1819 18 11.3522 17.7672 12.4442 17.3149C13.5361 16.8626 14.5282 16.1997 15.364 15.364C16.1997 14.5282 16.8626 13.5361 17.3149 12.4442C17.7672 11.3522 18 10.1819 18 9C18 7.8181 17.7672 6.64778 17.3149 5.55585C16.8626 4.46392 16.1997 3.47177 15.364 2.63604C14.5282 1.80031 13.5361 1.13738 12.4442 0.685084C11.3522 0.232792 10.1819 -1.76116e-08 9 0C6.61305 3.55683e-08 4.32387 0.948211 2.63604 2.63604C0.948212 4.32387 0 6.61305 0 9C0 11.3869 0.948212 13.6761 2.63604 15.364C4.32387 17.0518 6.61305 18 9 18ZM8.768 12.64L13.768 6.64L12.232 5.36L7.932 10.519L5.707 8.293L4.293 9.707L7.293 12.707L8.067 13.481L8.768 12.64Z" fill="#70AD47"/>
          </svg> Relación de largo plazo con planeación colaborativa`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C10.1819 18 11.3522 17.7672 12.4442 17.3149C13.5361 16.8626 14.5282 16.1997 15.364 15.364C16.1997 14.5282 16.8626 13.5361 17.3149 12.4442C17.7672 11.3522 18 10.1819 18 9C18 7.8181 17.7672 6.64778 17.3149 5.55585C16.8626 4.46392 16.1997 3.47177 15.364 2.63604C14.5282 1.80031 13.5361 1.13738 12.4442 0.685084C11.3522 0.232792 10.1819 -1.76116e-08 9 0C6.61305 3.55683e-08 4.32387 0.948211 2.63604 2.63604C0.948212 4.32387 0 6.61305 0 9C0 11.3869 0.948212 13.6761 2.63604 15.364C4.32387 17.0518 6.61305 18 9 18ZM8.768 12.64L13.768 6.64L12.232 5.36L7.932 10.519L5.707 8.293L4.293 9.707L7.293 12.707L8.067 13.481L8.768 12.64Z" fill="#70AD47"/>
          </svg> Pricing dinámico según mercado y desempeño`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C10.1819 18 11.3522 17.7672 12.4442 17.3149C13.5361 16.8626 14.5282 16.1997 15.364 15.364C16.1997 14.5282 16.8626 13.5361 17.3149 12.4442C17.7672 11.3522 18 10.1819 18 9C18 7.8181 17.7672 6.64778 17.3149 5.55585C16.8626 4.46392 16.1997 3.47177 15.364 2.63604C14.5282 1.80031 13.5361 1.13738 12.4442 0.685084C11.3522 0.232792 10.1819 -1.76116e-08 9 0C6.61305 3.55683e-08 4.32387 0.948211 2.63604 2.63604C0.948212 4.32387 0 6.61305 0 9C0 11.3869 0.948212 13.6761 2.63604 15.364C4.32387 17.0518 6.61305 18 9 18ZM8.768 12.64L13.768 6.64L12.232 5.36L7.932 10.519L5.707 8.293L4.293 9.707L7.293 12.707L8.067 13.481L8.768 12.64Z" fill="#70AD47"/>
          </svg> Transparencia de datos para decisiones alineadas`,
        },
        {
          html: `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 18C10.1819 18 11.3522 17.7672 12.4442 17.3149C13.5361 16.8626 14.5282 16.1997 15.364 15.364C16.1997 14.5282 16.8626 13.5361 17.3149 12.4442C17.7672 11.3522 18 10.1819 18 9C18 7.8181 17.7672 6.64778 17.3149 5.55585C16.8626 4.46392 16.1997 3.47177 15.364 2.63604C14.5282 1.80031 13.5361 1.13738 12.4442 0.685084C11.3522 0.232792 10.1819 -1.76116e-08 9 0C6.61305 3.55683e-08 4.32387 0.948211 2.63604 2.63604C0.948212 4.32387 0 6.61305 0 9C0 11.3869 0.948212 13.6761 2.63604 15.364C4.32387 17.0518 6.61305 18 9 18ZM8.768 12.64L13.768 6.64L12.232 5.36L7.932 10.519L5.707 8.293L4.293 9.707L7.293 12.707L8.067 13.481L8.768 12.64Z" fill="#70AD47"/>
          </svg> Desarrollo de categoría con foco y especialización`,
        },
      ],
    },
  ]}
/>

<BannerHero
  id="nutricion-proposito"
  class="banner banner-nutricion"

  srcDesktop="/media/banner4-desktop.webp?width=2500"
  srcMobile="/media/banner4-desktop.webp?width=1500"
  alt="Alimentos de alta calidad"
  width="1920"
  height="400"
  loading="lazy"
  decoding="async"

  h2="NUTRICIÓN Y PROPÓSITO QUE GENERAN IMPACTO REAL"
  h2Id=""
  h2Class=""
/>

<BrandCardsSection
  id="ecosistema-nutrimental"
  class="brand-cards-section"

  h2="Nuestros <strong>Partners</strong>"
  h2Id=""
  h2Class="brand-cards-section__title"

  articleId=""
  articleClass="brand-cards-section__grid"

  items={[
    {
      id: "PORTO57",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/porto57.webp?width=700",
      srcMobile: "/media/partners/porto57.webp?width=500",
      alt: "Partner FramFoods | PORTO57",
      title: "Partner FramFoods | PORTO57",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",

      p:"Porto 57 es una marca de excelencia dedicada a la selección y comercialización de productos del mar de la más alta calidad, destacando por su enfoque en la frescura y el origen responsable. Su catálogo se distingue por ofrecer soluciones gourmet que combinan la tradición pesquera con estándares modernos de procesamiento, asegurando texturas y sabores excepcionales en cada pieza."
    },
    {
      id: "LATITUDE45",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/latitude45.webp?width=700",
      srcMobile: "/media/partners/latitude45.webp?width=500",
      alt: "Partner FramFoods | LATITUDE 45",
      title: "Partner FramFoods | LATITUDE 45",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",

      p:"Latitude 45 es una marca especializada en salmón ahumado premium, con más de 30 años de experiencia. Originaria de las aguas cristalinas de la Patagonia Chilena. Su propuesta se basa en un proceso artesanal de ahumado con maderas locales y prácticas de acuicultura sostenible que cuentan con las certificaciones internacionales más exigentes."
    },
    {
      id: "Camanchaca",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/camanchaca.webp?width=700",
      srcMobile: "/media/partners/camanchaca.webp?width=500",
      alt: "Partner FramFoods | Camanchaca",
      title: "Partner FramFoods | Camanchaca",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",

      p:"Camanchaca es una compañía chilena con más de 50 años de experiencia y líder global en la producción de productos del mar, destacando por su excelencia en la crianza y procesamiento de salmón, mejillones y otros recursos marinos. Su operación se rige por un firme compromiso con la sostenibilidad, la trazabilidad total y el respeto por los ecosistemas oceánicos, lo que garantiza alimentos nutritivos y de la más alta pureza. A través de Fram Foods, Camanchaca brinda al mercado mexicano opciones marinas de estándar mundial, llevando la frescura de las aguas del Pacífico Sur directamente a los consumidores y profesionales de la gastronomía que buscan calidad premium y responsabilidad ambiental."
    },
    {
      id: "SIWIN",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/siwin.webp?width=700",
      srcMobile: "/media/partners/siwin.webp?width=500",
      alt: "Partner FramFoods | SIWIN",
      title: "Partner FramFoods | SIWIN",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",

      p:"Siwin es una marca de origen canadiense que ha revolucionado el mercado de las proteínas con su enfoque en la calidad premium y el sabor artesanal. Especialista en la elaboración de comida con inspiración asiática, salchichas y productos cárnicos de alta gama, se distingue por utilizar ingredientes naturales, cortes de carne selectos y recetas internacionales que ofrecen una experiencia gourmet única. Siwin trae a México una propuesta innovadora y práctica para los consumidores que buscan alimentos nutritivos, deliciosos y con los más altos estándares de seguridad alimentaria, ideales para elevar cualquier comida diaria con un toque de excelencia global."
    },
    {
      id: "OsoleMio",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/osolemio.webp?width=700",
      srcMobile: "/media/partners/osolemio.webp?width=500",
      alt: "Partner FramFoods | O sole Mio",
      title: "Partner FramFoods | O sole Mio",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",
      
      p:"O Sole Mio es una marca canadiense, que se especializa en la elaboración de pastas frescas y salsas artesanales que capturan la esencia y el sabor tradicional de la cocina italiana. Con un enfoque en la calidad de los ingredientes y recetas auténticas, la marca se distingue por ofrecer soluciones gastronómicas prácticas que no sacrifican la frescura ni el toque casero. O Sole Mio permite que tanto el sector profesional como el consumidor final disfruten de una experiencia culinaria mediterránea de alto nivel, llevando a la mesa platos llenos de historia, textura y sabor inigualable."
    },
    {
      id: "NaturalOne",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/naturalone.webp?width=700",
      srcMobile: "/media/partners/naturalone.webp?width=500",
      alt: "Partner FramFoods | Natural One",
      title: "Partner FramFoods | Natural One",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",
      
      p:"Natural One, es una marca fundada en Brasil y cuenta con más de 15 años de innovación, lidera la categoría de jugos 100% naturales ofreciendo productos sin azúcares añadidos ni conservadores. Brindando una opción saludable, honesta y de alta calidad para disfrutar lo natural, elige Natural One."
    },
    {
      id: "MARINA",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/marina.webp?width=700",
      srcMobile: "/media/partners/marina.webp?width=500",
      alt: "Partner FramFoods | MARINA",
      title: "Partner FramFoods | MARINA",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",
      
      p:"Tisanas Marina es una marca dedicada a brindar una experiencia sensorial única, ofreciendo tisanas elaboradas con ingredientes naturales de la más alta calidad. Su propuesta se basa en el equilibrio perfecto entre sabor, aroma y bienestar, utilizando mezclas de frutas, flores y hierbas que conservan todas sus propiedades y frescura. Fram Foods presenta Tisanas Marina al mercado mexicano para brindar una opción sofisticada y saludable, ideal para quienes buscan disfrutar de una bebida reconfortante, pura y llena de matices naturales en cualquier momento del día."
    },
    {
      id: "FORNODEMINAS",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/fornodeminas.webp?width=700",
      srcMobile: "/media/partners/fornodeminas.webp?width=500",
      alt: "Partner FramFoods | FORNO DE MINAS",
      title: "Partner FramFoods | FORNO DE MINAS",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",
      
      p:"Forno de Minas es la marca líder y pionera en la elaboración del auténtico pan de queso brasileño. Con más de 30 años de historia, Forno de Minas se distingue por preservar recetas tradicionales y utilizar ingredientes seleccionados, ofreciendo una experiencia gastronómica única que combina practicidad con un estándar premium."
    },
    {
      id: "LaMenorquina",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/lamenorquina.webp?width=700",
      srcMobile: "/media/partners/lamenorquina.webp?width=500",
      alt: "Partner FramFoods | La Menorquina",
      title: "Partner FramFoods | La Menorquina",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",
      
      p:"La Menorquina es una marca reconocida mundialmente por ser especialista en la creación de helados y postres de alta calidad. Con más de 80 años de tradición fue fundada en Menorca, España, su esencia se basa en el uso de ingredientes seleccionados y recetas que combinan la maestría clásica para elaborar helados de la mano de innovación constante."
    },
    {
      id: "alo",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/alo.webp?width=700",
      srcMobile: "/media/partners/alo.webp?width=500",
      alt: "Partner FramFoods | alo",
      title: "Partner FramFoods | alo",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",
      
      p:"Directo desde los campos más fértiles de Vietnam, Alo llega a México para transformar la hidratación funcional. Alo utiliza pulpa y trozos reales de frutas exóticas para crear una experiencia refrescante y llena de beneficios. Es la opción ideal para quienes buscan una alternativa saludable, libre de polvos artificiales y cargada de nutrientes esenciales que promueven un estilo de vida equilibrado y lleno de vitalidad."
    },
    {
      id: "RUSSETHOUSE",
      class: "brand-cards-section__card",

      srcDesktop: "/media/partners/russethouse.webp?width=700",
      srcMobile: "/media/partners/russethouse.webp?width=500",
      alt: "Partner FramFoods | RUSSET HOUSE",
      title: "Partner FramFoods | RUSSET HOUSE",
      width: "660",
      height: "347",
      loading: "lazy",
      decoding: "async",
      
      p:"Russet House es una marca líder e innovadora en la categoría de especialidades congeladas, reconocida mundialmente por su maestría en la elaboración de productos a base de camote y papas premium. Su enfoque se distingue por utilizar ingredientes naturales y procesos de vanguardia que preservan la textura perfecta y el sabor auténtico del campo, ofreciendo opciones que son tanto deliciosas como nutritivas. A través de Fram Foods, Russet House trae a las mesas mexicanas y al sector gastronómico una propuesta versátil, saludable y de alta calidad, ideal para quienes buscan elevar sus platillos con guarniciones excepcionales que cumplen con los más altos estándares internacionales de seguridad alimentaria."
    },

  ]}
/>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    const PORTO57 = document.querySelector("#PORTO57 img");
    const LATITUDE45 = document.querySelector("#LATITUDE45 img");
    const Camanchaca = document.querySelector("#Camanchaca img");
    const SIWIN = document.querySelector("#SIWIN img");
    const OsoleMio = document.querySelector("#OsoleMio img");
    const NaturalOne = document.querySelector("#NaturalOne img");
    const MARINA = document.querySelector("#MARINA img");
    const FORNODEMINAS = document.querySelector("#FORNODEMINAS img");
    const LaMenorquina = document.querySelector("#LaMenorquina img");
    const alo = document.querySelector("#alo img");
    const RUSSETHOUSE = document.querySelector("#RUSSETHOUSE img");

    const changeImage = (img, newSrc) => {
      if (!img) return;

      const picture = img.closest("picture");
      const sources = picture ? picture.querySelectorAll("source") : [];

      const original = img.currentSrc || img.src;

      img.parentElement.parentElement.addEventListener("mouseenter", () => {
        img.src = newSrc;
        sources.forEach(s => s.srcset = newSrc);
      });

      img.parentElement.parentElement.addEventListener("mouseleave", () => {
        img.src = original;
        sources.forEach((s, i) => s.srcset = original);
      });
    };

    changeImage(PORTO57, "/media/partners-hover/hover-porto57.webp?width=1500");
    changeImage(LATITUDE45, "/media/partners-hover/hover-latitude45.webp?width=1500");
    changeImage(Camanchaca, "/media/partners-hover/hover-camanchaca.webp?width=1500");
    changeImage(SIWIN, "/media/partners-hover/hover-siwin.webp?width=1500");
    changeImage(OsoleMio, "/media/partners-hover/hover-osolemio.webp?width=1500");
    changeImage(NaturalOne, "/media/partners-hover/hover-naturalone.webp?width=1500");
    changeImage(MARINA, "/media/partners-hover/hover-marina.webp?width=1500");
    changeImage(FORNODEMINAS, "/media/partners-hover/hover-fornodeminas.webp?width=1500");
    changeImage(LaMenorquina, "/media/partners-hover/hover-lamenorquina.webp?width=1500");
    changeImage(alo, "/media/partners-hover/hover-alo.webp?width=1500");
    changeImage(RUSSETHOUSE, "/media/partners-hover/hover-russethouse.webp?width=1500");

    const cards = document.querySelectorAll(".brand-cards-section__card");

    cards.forEach((card) => {
      const image = card.querySelector("img");

      if (!image) return;

      image.addEventListener("click", () => {
        card.classList.toggle("is-active");
      });
    });

  });
</script>

<section id="banner-marca-natural" class="banner-marca-natural">
  <ImagenResponsive
    class="izq"
    srcDesktop="/media/banner7-desktop.webp?width=1500"
    srcMobile="/media/banner7-desktop.webp?width=1000"
    alt="FramFoods contigo"
    title="FramFoods contigo"
    width="960"
    height="347"
    loading="lazy"
    decoding="async"
  />
    <ImagenResponsive
      srcDesktop="/media/naturalchamps.webp?width=500"
      srcMobile="/media/naturalchamps.webp?width=500"
      alt="NATURAL CHAMPS"
      title="NATURAL CHAMPS"
      width="228"
      height="187"
      priority="high"
      decoding="async"
    />
  <figure>
  <ImagenResponsive
    class="der"
    srcDesktop="/media/banner6-desktop.webp?width=1500"
    srcMobile="/media/banner6-desktop.webp?width=1000"
    alt="FRAMFOODS"
    title="FRAMFOODS"
    width="960"
    height="347"
    loading="lazy"
    decoding="async"
  />

    <figcaption>
      <TextGroupElement
        p="En Natural Champs, nuestra filosofía se traduce en ofrecer productos con nutrición real, segura y saludable para los miembros de cuatro patas de la familia. Creemos que su bienestar es esencial, porque para nosotros no son mascotas: son familia."
        pClass="texto"
      />
    </figcaption>
  </figure>
</section>

<BannerHero
  id="banner-estandar-alimentos"
  class="imagen-derecha-texto-izquierda"

  srcDesktop="/media/banner8-desktop.webp?width=1500"
  srcMobile="/media/banner8-desktop.webp?width=1000"
  alt="Un nuevo estándar en la industria de alimentos"
  width="796"
  height="454"
  loading="lazy"
  decoding="async"

  h2="Un nuevo estándar en la industria de alimentos"
  h2Id=""
  h2Class="imagen-derecha-texto-izquierdo__title"

  linkHtml="Explorar el modelo FramFoods"
  linkHref="/modelo-fram-foods"
  linkId=""
  linkClass="imagen-derecha-texto-izquierdo__button"
  linkTitle="Explorar el modelo FramFoods"
  linkAriaLabel="Explorar el modelo FramFoods"
  linkTarget=""
  linkRel=""
/>

<section id="ecosistema-insights" class="ecosistema-insights">
  <TextGroupElement
    h2="El equilibrio del Modelo Fram Foods"
    h2Id=""
    h2Class="ecosistema-insights__title"

    p="Un Modelo que transforma insights en decisiones, decisiones en ejecución y ejecución en crecimiento real y sostenible"
    pId=""
    pClass="ecosistema-insights__text"
  />

  <BannerHero
    id="banner-insights"
    class="banner ecosistema-insights__banner"

    srcDesktop="/media/equilibrio/INSIGHTS.webp?width=2000"
    srcMobile="/media/equilibrio/INSIGHTS.webp?width=1200"
    alt="INSIGHTS"
    width="1341"
    height="456"
    loading="lazy"
    decoding="async"

    h2="INSIGHTS"
    h2Id=""
    h2Class="ecosistema-insights__banner-title"

    p="Identificamos oportunidades reales a partir de data, tendencias y comportamiento del consumidor."
    pId=""
    pClass="ecosistema-insights__banner-text"
  />
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {

    const banners = [
      {
        srcDesktop: "/media/equilibrio/INSIGHTS.webp?width=2000",
        srcMobile: "/media/equilibrio/INSIGHTS.webp?width=1200",
        alt: "INSIGHTS",
        title: "INSIGHTS",
        text: "Identificamos oportunidades reales a partir de data, tendencias y comportamiento del consumidor."
      },
      {
        srcDesktop: "/media/equilibrio/DESARROLLO.webp?width=2000",
        srcMobile: "/media/equilibrio/DESARROLLO.webp?width=1200",
        alt: "DESARROLLO",
        title: "DESARROLLO",
        text: "Transformamos insights en productos viables, diferenciados y listos para competir."
      },
      {
        srcDesktop: "/media/equilibrio/PRODUCCION.webp?width=2000",
        srcMobile: "/media/equilibrio/PRODUCCION.webp?width=1200",
        alt: "PRODUCCIÓN",
        title: "PRODUCCIÓN",
        text: "Escalamos con eficiencia, calidad y consistencia en cada etapa del proceso."
      },
      {
        srcDesktop: "/media/equilibrio/DISTRIBUCION.webp?width=2000",
        srcMobile: "/media/equilibrio/DISTRIBUCION.webp?width=1200",
        alt: "DISTRIBUCIÓN",
        title: "DISTRIBUCIÓN",
        text: "Llevamos el producto a los canales correctos, optimizando tiempos y cobertura."
      },
      {
        srcDesktop: "/media/equilibrio/RETAIL.webp?width=2000",
        srcMobile: "/media/equilibrio/RETAIL.webp?width=1200",
        alt: "RETAIL",
        title: "RETAIL",
        text: "Ejecutamos estrategias en punto de venta que maximizan visibilidad y rotación."
      },
      {
        srcDesktop: "/media/equilibrio/CONSUMIDOR.webp?width=2000",
        srcMobile: "/media/equilibrio/CONSUMIDOR.webp?width=1200",
        alt: "CONSUMIDOR",
        title: "CONSUMIDOR",
        text: "Generamos conexión, adopción y recompra a través de propuestas relevantes."
      }
    ];

    const banner = document.getElementById("banner-insights");

    const sourceDesktop = banner.querySelector('source[media="(min-width: 768px)"]');
    const sourceMobile = banner.querySelector('source[media="(max-width: 767px)"]');
    const img = banner.querySelector("img");
    const title = banner.querySelector("h2");
    const text = banner.querySelector("p");

    let index = 0;

    function updateBanner() {
      const item = banners[index];

      sourceDesktop.srcset = item.srcDesktop;
      sourceMobile.srcset = item.srcMobile;

      img.src = item.srcMobile;
      img.alt = item.alt;
      img.title = item.alt;

      title.textContent = item.title;
      text.textContent = item.text;

      index = (index + 1) % banners.length;
    }

    setInterval(updateBanner, 6000);
  });
</script>

<BannerHero
  id="banner-trabajemos-juntos"
  class="banner banner-cta"

  srcDesktop="/media/banner9-desktop.webp?width=2500"
  srcMobile="/media/banner9-desktop.webp?width=1500"
  alt="Trabajemos juntos"
  width="1920"
  height="420"
  loading="lazy"
  decoding="async"

  h2="Trabajemos <strong>juntos</strong>"
  h2Id=""
  h2Class="banner-cta__title"

  linkHtml="Comenzar un proyecto"
  linkHref="/contacto"
  linkId=""
  linkClass="banner-cta__button"
  linkTitle="Comenzar un proyecto"
  linkAriaLabel="Comenzar un proyecto"
  linkTarget=""
  linkRel=""
/>

<ReviewsCarouselSection
  id="reseñas-clientes"
  class="carruselReviews"

  h2="Nuestros Clientes, <strong>Nuestros Aliados</strong>"
  h2Id=""
  h2Class="carruselReviews__title"

  controlsClass="carruselReviews__controls"
  prevButtonClass="carruselReviews__arrow carruselReviews__arrow--prev"
  nextButtonClass="carruselReviews__arrow carruselReviews__arrow--next"

  desktopItems="2"
  mobileItems="1"
  breakpoint="767"
  articleGap="42px"
  autoplayDelay="0"

  items={[
    {
      id: "",
      class: "carruselReviews__item",

      review: "LLörem ipsum mire kytt i issa. Dipåna cykelbarometer eller plajär. Exogon polyvåde teras inklusive pojul. Pijang ötogon då egost alltså lätthelg. ",
      reviewId: "",
      reviewClass: "carruselReviews__review",

      srcDesktop: "https://i.pravatar.cc/200?img=47",
      srcMobile: "https://i.pravatar.cc/200?img=47",
      alt: "María López",
      title: "María López",
      width: "106",
      height: "106",
      loading: "lazy",
      decoding: "async",

      name: "María López",
      nameId: "",
      nameClass: "carruselReviews__name",

      role: "Directora de Marketing, XYZ Corp.",
      roleId: "",
      roleClass: "carruselReviews__role",

      figureId: "",
      figureClass: "carruselReviews__author",
      captionId: "",
      captionClass: "carruselReviews__caption",
    },
    {
      id: "",
      class: "carruselReviews__item",

      review: "Lörem ipsum mire kytt i issa. Dipåna cykelbarometer eller plajär. Exogon polyvåde teras inklusive pojul. Pijang ötogon då egost alltså lätthelg.",
      reviewId: "",
      reviewClass: "carruselReviews__review",

      srcDesktop: "https://i.pravatar.cc/200?img=12",
      srcMobile: "https://i.pravatar.cc/200?img=12",
      alt: "María López",
      title: "María López",
      width: "106",
      height: "106",
      loading: "lazy",
      decoding: "async",

      name: "María López",
      nameId: "",
      nameClass: "carruselReviews__name",

      role: "Directora de Marketing, XYZ Corp.",
      roleId: "",
      roleClass: "carruselReviews__role",

      figureId: "",
      figureClass: "carruselReviews__author",
      captionId: "",
      captionClass: "carruselReviews__caption",
    },
    {
      id: "",
      class: "carruselReviews__item",

      review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales ligula in libero sed dignissim lacinia nunc.",
      reviewId: "",
      reviewClass: "carruselReviews__review",

      srcDesktop: "https://i.pravatar.cc/200?img=33",
      srcMobile: "https://i.pravatar.cc/200?img=33",
      alt: "Ejemplo",
      title: "Ejemplo",
      width: "106",
      height: "106",
      loading: "lazy",
      decoding: "async",

      name: "Lorem Ipsum",
      nameId: "",
      nameClass: "carruselReviews__name",

      role: "Lorem ipsum dolor sit amet",
      roleId: "",
      roleClass: "carruselReviews__role",

      figureId: "",
      figureClass: "carruselReviews__author",
      captionId: "",
      captionClass: "carruselReviews__caption",
    },
  ]}
/>

<section id="formulario-wrapper" class="formulario-wrapper">
  <FormularioLead
    id="formularioHome"
    class=""

    name="contacto"
    action="/gracias"
    method="POST"
    thankYouUrl="/gracias"
    submitMode="native"

    h2="Construyamos el crecimiento de tu marca"
    h2Class="formulario__title"

    articleClass="preguntas"
    topGroupClass="grupo-arriba"
    bottomGroupClass="grupo-abajo"
    fieldWrapperClass="grupo-input"

    buttonClass="enviar"
    buttonHtml='Quiero crecer mi marca'

    fieldsTop={[
      {
        tag: "input",
        type: "text",
        name: "nombre_completo",
        dataColumn: "Nombre",
        label: "Nombre*",
        placeholder: "Nombre",
        required: true,
        autocomplete: "name",
      },
      {
        tag: "input",
        type: "email",
        name: "email",
        dataColumn: "Correo electrónico",
        label: "Correo*",
        placeholder: "Correo",
        required: true,
        autocomplete: "email",
        inputmode: "email",
      },
      {
        tag: "input",
        type: "tel",
        name: "telefono",
        dataColumn: "Número telefónico",
        label: "Whatsapp*",
        placeholder: "Whatsapp",
        required: true,
        autocomplete: "tel",
        inputmode: "tel",
      },
      {
        tag: "select",
        name: "pais",
        dataColumn: "País",
        label: "¿De qué país nos visita?*",
        required: true,
        options: [
          {
            label: "Seleccione un país",
            value: "",
            disabled: true,
            selected: true,
            hidden: true,
          },
          { label: "Afganistán", value: "afganistan" },
          { label: "Albania", value: "albania" },
          { label: "Alemania", value: "alemania" },
          { label: "Andorra", value: "andorra" },
          { label: "Angola", value: "angola" },
          { label: "Antigua y Barbuda", value: "antigua-y-barbuda" },
          { label: "Arabia Saudita", value: "arabia-saudita" },
          { label: "Argelia", value: "argelia" },
          { label: "Argentina", value: "argentina" },
          { label: "Armenia", value: "armenia" },
          { label: "Australia", value: "australia" },
          { label: "Austria", value: "austria" },
          { label: "Azerbaiyán", value: "azerbaiyan" },
          { label: "Bahamas", value: "bahamas" },
          { label: "Bangladés", value: "bangladesh" },
          { label: "Barbados", value: "barbados" },
          { label: "Baréin", value: "barein" },
          { label: "Bélgica", value: "belgica" },
          { label: "Belice", value: "belice" },
          { label: "Benín", value: "benin" },
          { label: "Bielorrusia", value: "bielorrusia" },
          { label: "Birmania", value: "birmania" },
          { label: "Bolivia", value: "bolivia" },
          { label: "Bosnia y Herzegovina", value: "bosnia-y-herzegovina" },
          { label: "Botsuana", value: "botsuana" },
          { label: "Brasil", value: "brasil" },
          { label: "Brunéi", value: "brunei" },
          { label: "Bulgaria", value: "bulgaria" },
          { label: "Burkina Faso", value: "burkina-faso" },
          { label: "Burundi", value: "burundi" },
          { label: "Bután", value: "butan" },
          { label: "Cabo Verde", value: "cabo-verde" },
          { label: "Camboya", value: "camboya" },
          { label: "Camerún", value: "camerun" },
          { label: "Canadá", value: "canada" },
          { label: "Catar", value: "catar" },
          { label: "Chad", value: "chad" },
          { label: "Chile", value: "chile" },
          { label: "China", value: "china" },
          { label: "Chipre", value: "chipre" },
          { label: "Colombia", value: "colombia" },
          { label: "Comoras", value: "comoras" },
          { label: "Corea del Norte", value: "corea-del-norte" },
          { label: "Corea del Sur", value: "corea-del-sur" },
          { label: "Costa de Marfil", value: "costa-de-marfil" },
          { label: "Costa Rica", value: "costa-rica" },
          { label: "Croacia", value: "croacia" },
          { label: "Cuba", value: "cuba" },
          { label: "Dinamarca", value: "dinamarca" },
          { label: "Dominica", value: "dominica" },
          { label: "Ecuador", value: "ecuador" },
          { label: "Egipto", value: "egipto" },
          { label: "El Salvador", value: "el-salvador" },
          { label: "Emiratos Árabes Unidos", value: "emiratos-arabes-unidos" },
          { label: "Eritrea", value: "eritrea" },
          { label: "Eslovaquia", value: "eslovaquia" },
          { label: "Eslovenia", value: "eslovenia" },
          { label: "España", value: "espana" },
          { label: "Estados Unidos", value: "estados-unidos" },
          { label: "Estonia", value: "estonia" },
          { label: "Esuatini", value: "esuatini" },
          { label: "Etiopía", value: "etiopia" },
          { label: "Filipinas", value: "filipinas" },
          { label: "Finlandia", value: "finlandia" },
          { label: "Fiyi", value: "fiyi" },
          { label: "Francia", value: "francia" },
          { label: "Gabón", value: "gabon" },
          { label: "Gambia", value: "gambia" },
          { label: "Georgia", value: "georgia" },
          { label: "Ghana", value: "ghana" },
          { label: "Granada", value: "granada" },
          { label: "Grecia", value: "grecia" },
          { label: "Guatemala", value: "guatemala" },
          { label: "Guyana", value: "guyana" },
          { label: "Guinea", value: "guinea" },
          { label: "Guinea-Bisáu", value: "guinea-bisau" },
          { label: "Guinea Ecuatorial", value: "guinea-ecuatorial" },
          { label: "Haití", value: "haiti" },
          { label: "Honduras", value: "honduras" },
          { label: "Hungría", value: "hungria" },
          { label: "India", value: "india" },
          { label: "Indonesia", value: "indonesia" },
          { label: "Irak", value: "irak" },
          { label: "Irán", value: "iran" },
          { label: "Irlanda", value: "irlanda" },
          { label: "Islandia", value: "islandia" },
          { label: "Israel", value: "israel" },
          { label: "Italia", value: "italia" },
          { label: "Jamaica", value: "jamaica" },
          { label: "Japón", value: "japon" },
          { label: "Jordania", value: "jordania" },
          { label: "Kazajistán", value: "kazajistan" },
          { label: "Kenia", value: "kenia" },
          { label: "Kirguistán", value: "kirguistan" },
          { label: "Kiribati", value: "kiribati" },
          { label: "Kuwait", value: "kuwait" },
          { label: "Laos", value: "laos" },
          { label: "Lesoto", value: "lesoto" },
          { label: "Letonia", value: "letonia" },
          { label: "Líbano", value: "libano" },
          { label: "Liberia", value: "liberia" },
          { label: "Libia", value: "libia" },
          { label: "Liechtenstein", value: "liechtenstein" },
          { label: "Lituania", value: "lituania" },
          { label: "Luxemburgo", value: "luxemburgo" },
          { label: "Madagascar", value: "madagascar" },
          { label: "Malasia", value: "malasia" },
          { label: "Malaui", value: "malaui" },
          { label: "Maldivas", value: "maldivas" },
          { label: "Malí", value: "mali" },
          { label: "Malta", value: "malta" },
          { label: "Marruecos", value: "marruecos" },
          { label: "Mauricio", value: "mauricio" },
          { label: "Mauritania", value: "mauritania" },
          { label: "México", value: "mexico" },
          { label: "Micronesia", value: "micronesia" },
          { label: "Moldavia", value: "moldavia" },
          { label: "Mónaco", value: "monaco" },
          { label: "Mongolia", value: "mongolia" },
          { label: "Montenegro", value: "montenegro" },
          { label: "Mozambique", value: "mozambique" },
          { label: "Namibia", value: "namibia" },
          { label: "Nauru", value: "nauru" },
          { label: "Nepal", value: "nepal" },
          { label: "Nicaragua", value: "nicaragua" },
          { label: "Níger", value: "niger" },
          { label: "Nigeria", value: "nigeria" },
          { label: "Noruega", value: "noruega" },
          { label: "Nueva Zelanda", value: "nueva-zelanda" },
          { label: "Omán", value: "oman" },
          { label: "Países Bajos", value: "paises-bajos" },
          { label: "Pakistán", value: "pakistan" },
          { label: "Palaos", value: "palaos" },
          { label: "Panamá", value: "panama" },
          { label: "Papúa Nueva Guinea", value: "papua-nueva-guinea" },
          { label: "Paraguay", value: "paraguay" },
          { label: "Perú", value: "peru" },
          { label: "Polonia", value: "polonia" },
          { label: "Portugal", value: "portugal" },
          { label: "Reino Unido", value: "reino-unido" },
          { label: "República Centroafricana", value: "republica-centroafricana" },
          { label: "República Checa", value: "republica-checa" },
          { label: "República del Congo", value: "republica-del-congo" },
          { label: "República Democrática del Congo", value: "republica-democratica-del-congo" },
          { label: "República Dominicana", value: "republica-dominicana" },
          { label: "Ruanda", value: "ruanda" },
          { label: "Rumania", value: "rumania" },
          { label: "Rusia", value: "rusia" },
          { label: "Samoa", value: "samoa" },
          { label: "San Cristóbal y Nieves", value: "san-cristobal-y-nieves" },
          { label: "San Marino", value: "san-marino" },
          { label: "San Vicente y las Granadinas", value: "san-vicente-y-las-granadinas" },
          { label: "Santa Lucía", value: "santa-lucia" },
          { label: "Santo Tomé y Príncipe", value: "santo-tome-y-principe" },
          { label: "Senegal", value: "senegal" },
          { label: "Serbia", value: "serbia" },
          { label: "Seychelles", value: "seychelles" },
          { label: "Sierra Leona", value: "sierra-leona" },
          { label: "Singapur", value: "singapur" },
          { label: "Siria", value: "siria" },
          { label: "Somalia", value: "somalia" },
          { label: "Sri Lanka", value: "sri-lanka" },
          { label: "Sudáfrica", value: "sudafrica" },
          { label: "Sudán", value: "sudan" },
          { label: "Sudán del Sur", value: "sudan-del-sur" },
          { label: "Suecia", value: "suecia" },
          { label: "Suiza", value: "suiza" },
          { label: "Surinam", value: "surinam" },
          { label: "Tailandia", value: "tailandia" },
          { label: "Tanzania", value: "tanzania" },
          { label: "Tayikistán", value: "tayikistan" },
          { label: "Timor Oriental", value: "timor-oriental" },
          { label: "Togo", value: "togo" },
          { label: "Tonga", value: "tonga" },
          { label: "Trinidad y Tobago", value: "trinidad-y-tobago" },
          { label: "Túnez", value: "tunez" },
          { label: "Turkmenistán", value: "turkmenistan" },
          { label: "Turquía", value: "turquia" },
          { label: "Tuvalu", value: "tuvalu" },
          { label: "Ucrania", value: "ucrania" },
          { label: "Uganda", value: "uganda" },
          { label: "Uruguay", value: "uruguay" },
          { label: "Uzbekistán", value: "uzbekistan" },
          { label: "Vanuatu", value: "vanuatu" },
          { label: "Vaticano", value: "vaticano" },
          { label: "Venezuela", value: "venezuela" },
          { label: "Vietnam", value: "vietnam" },
          { label: "Yemen", value: "yemen" },
          { label: "Yibuti", value: "yibuti" },
          { label: "Zambia", value: "zambia" },
          { label: "Zimbabue", value: "zimbabue" },
        ],
      }
    ]}

    fieldsBottom={[
      {
        tag: "textarea",
        name: "reto_principal",
        dataColumn: "Principal reto",
        label: "¿Cuál es tu principal reto hoy?*",
        placeholder: "¿Cuál es tu principal reto hoy?",
        required: true,
        rows: "6",
      },
      {
        tag: "textarea",
        name: "solucion_buscada",
        dataColumn: "Solución buscada",
        label: "¿Qué solución estás buscando?*",
        placeholder: "¿Qué solución estás buscando?",
        required: true,
        rows: "6",
      },
      {
        tag: "textarea",
        name: "productos",
        dataColumn: "Tipos de productos",
        label: "¿Qué tipos de productos manejas?*",
        placeholder: "¿Qué tipos de productos manejas?",
        required: true,
        rows: "6",
      }
    ]}
    modalId="modal-terminos"
    modalClass="modal-terminos"
    modalContentClass="modal-contenido-terminos"
    modalCloseClass="cerrar"
    modalIframeId="iframe-terminos"
    modalIframeHeight="400"
  />

  <article class="formulario-wrapper__images">
    <ImagenResponsive
      srcDesktop="/media/banner10-desktop.webp?width=850"
      srcMobile="/media/banner10-desktop.webp?width=850"
      alt="Imagen de formulario"
      title="Imagen de formulario"
      width="684"
      height="521"
      loading="lazy"
      decoding="async"
    />
    <ImagenResponsive
      srcDesktop="/media/banner11-desktop.webp?width=850"
      srcMobile="/media/banner11-desktop.webp?width=850"
      alt="Imagen de formulario"
      title="Imagen de formulario"
      width="684"
      height="521"
      loading="lazy"
      decoding="async"
    />
  </article>
</section>

<section id="franja-comercial" class="franja-comercial">
  <TextGroupElement
    p="Trabajamos de forma integrada para transformar ideas en soluciones comerciales 
    <span>sólidas,</span>
    <span>alineadas al mercado,</span>
    <span>al canal y</span>
    <span>al consumidor.</span>"
    pId=""
    pClass="franja-comercial__text"
  />
</section>


<NewsletterForm
  id="newsletter-principal"
  class="newsletter-form banner"

  figureClass="newsletter-form__figure"
  captionClass="newsletter-form__caption"

  contentId=""
  contentClass="newsletter-form__content"

  srcDesktop="/media/newsletter.webp?width=2500"
  srcMobile="/media/newsletter.webp?width=1500"
  alt="Newsletter"
  title="Newsletter"
  width="1920"
  height="250"
  loading="lazy"
  decoding="async"

  h2="Suscríbete a nuestro newsletter"
  h2Id=""
  h2Class="newsletter-form__title"

  p="Recibe actualizaciones, novedades y contenido relevante directamente en tu correo.
  <br>
  Forma parte de nuestra comunidad y entérate primero de lo que viene."
  pId=""
  pClass="newsletter-form__text"

  name="newsletter"
  action="/thankyou"
  method="POST"
  submitMode="native"

  successParam="newsletter"
  successValue="ok"
  successMessage="Gracias por suscribirte al newsletter."

  inputWrapperClass="newsletter-form__field"
  inputId="newsletter-email"
  inputClass="newsletter-form__input"
  inputName="email"
  inputDataColumn="Correo electrónico"
  inputPlaceholder="tu correo"
  inputLabel=""
  inputRequired={true}

  buttonClass="newsletter-form__button"
  buttonHtml="Suscribirme al newsletter"
/>









  </main>

  <Footer />
</BaseLayout>
