---
import BaseLayout from "../layouts/BaseLayout.astro";
import TextGroupElement from "../snippets/TextGroupElement.astro";
import ImagenResponsive from "../snippets/ImagenResponsive.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BannerHero from "../components/BannerHero.astro";
import FeatureBlocksSection from "../components/FeatureBlocksSection.astro";
import ImageCardsOverlay from "../components/ImageCardsOverlay.astro";
import ImageCarouselSection from "../components/ImageCarouselSection.astro";
import VideoOverlay from "../components/VideoOverlay.astro";
import ComparisonBannerSection from "../components/ComparisonBannerSection.astro";
import BrandCardsSection from "../components/BrandCardsSection.astro";
import ImageLogoTextBanner from "../components/ImageLogoTextBanner.astro";
import VideoHero from "../components/VideoHero.astro";
import ReviewsCarouselSection  from "../components/ReviewsCarouselSection.astro";
import FormularioLead from "../componentsFormPoliticas/FormularioLead.astro";
import NewsletterForm from "../componentsFormPoliticas/NewsletterForm.astro";


import Formulario from "../components/Formulario.astro";
import { site } from "../data/site";
---

<BaseLayout>
  <Header />

  <main class="container">

    <VideoHero
    id="thankyou"
    class="banner"

    srcDesktop="../public/media/hero-desktop.mp4?width=2500"
    srcMobile="../public/media/hero-mobile.mp4?width=1500"

    width="1920"
    height="600"

    autoplay={true}
    muted={true}
    loop={true}
    playsinline={true}
    controls={false}
    preload="auto"

    ariaLabel="Video Thank You"

    h1=`GRACIAS POR SUSCRIBIRTE`
    h1Class="hero-title"

    h2="Uno de nuestros ejecutivos se contactará contigo"
    />

        <section id="franja-comercial" class="franja-comercial">
        <TextGroupElement
            p="Trabajamos de forma integrada para transformar ideas en soluciones comerciales 
            <span>sólidas,</span>
            <span>alineadas al mercado,</span>
            <span>al canal y</span>
            <span>al consumidor.</span>"
            pId=""
            pClass="franja-comercial__text"
        />
        </section>
  </main>

  <Footer />
</BaseLayout>
