---
import { logoHeader } from "../data/header";
import { site } from "../data/site";
---

<header class="site-header">
  <a href="/" title={logoHeader.title}>
    <img
      src={`${logoHeader.logo}?width=${logoHeader.resolucion}`}
      alt={logoHeader.alt}
      title={logoHeader.title}
      width={logoHeader.ancho}
      height={logoHeader.alto}
      decoding="async"
    />
  </a>

  <a href="/" class="btn">
    {site.regresarInicio}
  </a>
</header>