---
import ImagenResponsive from "../snippets/ImagenResponsive.astro";
import TextGroupElement from "../snippets/TextGroupElement.astro";

const {
  id,
  class: clase,

  backgroundSrcDesktop,
  backgroundSrcMobile,
  backgroundAlt,
  backgroundWidth,
  backgroundHeight,
  backgroundPriority,
  backgroundLoading,
  backgroundDecoding,

  items = [],
} = Astro.props;
---

<section
  {...(id ? { id } : {})}
  {...(clase ? { class: clase } : {})}
>
 {(backgroundSrcDesktop || backgroundSrcMobile) && (
    <ImagenResponsive
      srcDesktop={backgroundSrcDesktop}
      srcMobile={backgroundSrcMobile}
      alt={backgroundAlt}
      width={backgroundWidth}
      height={backgroundHeight}
      priority={backgroundPriority}
      loading={backgroundLoading}
      decoding={backgroundDecoding}
    />
  )}

  {items.map((item) => (
    <figure
      {...(item.figureId ? { id: item.figureId } : {})}
      {...(item.figureClass ? { class: item.figureClass } : {})}
    >
      <ImagenResponsive
        srcDesktop={item.srcDesktop}
        srcMobile={item.srcMobile}
        alt={item.alt}
        width={item.width}
        height={item.height}
        priority={item.priority}
        loading={item.loading}
        decoding={item.decoding}
      />

      <figcaption
        {...(item.captionId ? { id: item.captionId } : {})}
        {...(item.captionClass ? { class: item.captionClass } : {})}
      >
        <TextGroupElement
          h1={item.h1}
          h1Id={item.h1Id}
          h1Class={item.h1Class}

          h2={item.h2}
          h2Id={item.h2Id}
          h2Class={item.h2Class}

          h3={item.h3}
          h3Id={item.h3Id}
          h3Class={item.h3Class}

          p={item.p}
          pId={item.pId}
          pClass={item.pClass}

          linkHtml={item.linkHtml}
          linkHref={item.linkHref}
          linkId={item.linkId}
          linkClass={item.linkClass}
          linkTitle={item.linkTitle}
          linkAriaLabel={item.linkAriaLabel}
          linkTarget={item.linkTarget}
          linkRel={item.linkRel}
        />
      </figcaption>
    </figure>
  ))}
</section>