---
import TextGroupElement from "../snippets/TextGroupElement.astro";

const {
  id = "",
  class: clase = "",

  srcDesktop,
  srcMobile,

  width,
  height,
  autoplay = true,
  muted = true,
  loop = true,
  playsinline = true,
  controls = false,
  preload = "auto",

  figcaptionId,
  figcaptionClass,

  items = [],
} = Astro.props;
---

<section
  {...(id ? { id } : {})}
  {...(clase ? { class: clase } : {})}
>
  <figure>

    <!-- VIDEO -->
    <video
      width={width}
      height={height}
      autoplay={autoplay}
      muted={muted}
      loop={loop}
      playsinline={playsinline}
      controls={controls}
      preload={preload}
    >
      {srcDesktop && <source src={srcDesktop} media="(min-width: 768px)" />}
      {srcMobile && <source src={srcMobile} media="(max-width: 767px)" />}
    </video>

    <!-- OVERLAY -->
    <figcaption
      {...(figcaptionId ? { id: figcaptionId } : {})}
      {...(figcaptionClass ? { class: figcaptionClass } : {})}
    >
      {items.map((item) => (
        <div>
          <TextGroupElement
            h1={item.h1}
            h1Id={item.h1Id}
            h1Class={item.h1Class}

            h2={item.h2}
            h2Id={item.h2Id}
            h2Class={item.h2Class}

            h3={item.h3}
            h3Id={item.h3Id}
            h3Class={item.h3Class}

            p={item.p}
            pId={item.pId}
            pClass={item.pClass}

            linkHtml={item.linkHtml}
            linkHref={item.linkHref}
            linkId={item.linkId}
            linkClass={item.linkClass}
            linkTitle={item.linkTitle}
            linkAriaLabel={item.linkAriaLabel}
            linkTarget={item.linkTarget}
            linkRel={item.linkRel}
          />
        </div>
      ))}
    </figcaption>

  </figure>
</section>